.contaniner-fix {
  padding-top: 0 !important;
}

.header-fix {
  display: none !important;
}

.channel-sider-fix {
  top: 0 !important;
  width: 410px !important;
}

.chat-lists-fix {
  padding-right: 5px !important;
}

.room-wrapper-fix {
  padding-right: 410px !important;
}

.side-bar-fix {
  display: none !important;
}

.content-fix {
  margin-left: 0 !important;
}

.channel-fix {
  padding-top: 0 !important;
}

.channel-fix {
  height: 100vh;
  overflow: auto;
}